@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');

body{
	font-family: 'Titillium Web', Sans-serif;
}
header{
	height: 800px;
	background: url('../assets/images/header-background.jpg');
}
h2{
	margin: 0;
}
nav ul{
	padding: 0;
}
nav li{
	display: inline-block;
	list-style-type: none;
}

.features-row{
	display: flex;
}
