@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,500,600,700');

@font-face {
	font-family: "Malaga OT Reg";
	src: url('../assets/fonts/MalagaOT-RegItalic.otf') format("opentype");
}

:root {
  --social-width: 54px; 
}

body{
	font-family: 'Titillium Web', Sans-serif;
	width: 1800px;
	margin: 0 auto;
}
header{
	height: 800px;
	width: 100%;
	background: url('../assets/images/header-background.jpg');
	background-repeat: no-repeat;
}
/*-----------------------------------NAV---------------------------------------*/
nav{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: 78px 200px;
}
nav label i{
  font-size: 25px;
  font-family: sans-serif;
  color: #252525;
  padding: 10px;
}
nav label, #hamburger {
  display: none;
}

nav ul{
	padding: 0;
	display: inline-block;
} 
nav li{
	display: inline-block;
	list-style-type: none;
}
.logo{
	color: rgba(133, 134, 136, 255);
}
h2{
	margin: 0;
	font-size: 30px;
}
.blue-mail{
	color: #5b4295;
}
.lang-list{
	font-size: 14px;
	margin-top: 20px;
	color: rgba(133, 134, 136, 255);
}
.lang-list > li{
	margin-right: 9px;
	margin-left: 8px;
}
.lang-list > li:first-child{
	margin-left: 0;
	font-weight: bold;
	letter-spacing: 0.05ch;
	border-bottom: 1px solid #bfc5d4;
	padding-bottom: 2px; 
}
.nav-links{
	margin-top: 9px;
	margin-right: 0px;
}
.nav-links > li{
	font-size: 16px;
	margin: 0 10px;
	letter-spacing: 0.055ch;
}
.nav-links a, .lang-list a{
	text-decoration: none;
	color: #454545;
}
.nav-links a:hover, .lang-list a:hover{
	-webkit-text-stroke: 1px #5b4295;
}

.nav-links > .link-login{
	margin-left: 60px;
	margin-right: 8px;
	font-weight: bold;
}
.nav-links > .link-login > .fa{
	color: #5b4295;
}

.link-login > .log-in-link{
	color: #454545;
	margin: 0;
	margin-left: 2px;
	text-decoration: none;
}
.nav-links > .link-signup{
	margin-right: 0px;
}
#sign-up-link{
	padding: 6px 20px 8px 20px;
	border-radius: 22px;
	color: white;
	font-weight: bold; 
	text-decoration: none;
	background-image: 
	  /*linear-gradient(#582c7e),*/
		linear-gradient(150deg, #582c7e 0%, #5c499d 45%, #637ad1 90%, #637ad1 100%);
	box-shadow: 1px 4px 12px 3px rgba(149,162,208, 100%);
	margin-right: 0px;
}
.link-signup > #sign-up-link:hover{
	text-decoration: none;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-text-stroke: 0px white;
	box-shadow: 3px 3px 12px 3px #5c499d;
}
.log-in-link:hover{
	color: #5b4295;
}
/*---------------------------------------header-content-----------------------------------*/
.header-content{
	display: flex;
	flex-direction: column;
	margin-top: 65px;
}
.app-title, .app-subtitle, .create-acc{
	display: block;
	text-align: center;
}
.title-container{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}
.titles{
	width: calc( 100% - var(--social-width) );
}
.titles h1{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 45pt; 
	color: #7a7a7a;
	margin-left: 55px;
	letter-spacing: 0.005ch;
}
.titles h2{
	font-size: 27pt; 
	font-weight: 500;
	color: #7a7a7a;
	padding-left: 54px;
	letter-spacing: 0.01ch;
}
.titles .somewhere{
	color: #fc6b6d;
}
.social-icons{
	display: flex;
	flex-direction: column;
	width: var(--social-width);
	padding-top: 6px;
}
.social-icons i{
	font-size: 22px;
	font-weight: 300;
	margin: 8px 0;
	color: #676766;
}
.social-icons i:hover{
	color: #5b4295;
}

.titles{
	display: flex;
	flex-direction: column;
}

.create-acc{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 74px;
}
.create-acc{
	background-image:url('../assets/images/gradient.png');
	background-position: center 21px;
	background-size: 30%;
	background-repeat: no-repeat;
}
#btn-create-acc{
	padding: 18px 62px 18px 62px;
	border-radius: 31px;
	color: white;
	font-weight: 700; 
	font-size: 18px;
	letter-spacing: 0.025ch;
	background-image: 
		linear-gradient(90deg, #646c93 0%, #5f2e69 100%);
  margin-right: 26px;
	border: none;
	box-shadow: 1px 4px 12px 3px rgba(149,162,208, 100%);
}

.btn-round{
	width: 46;
	height: 46;
	padding: 10px 12px 10px 12px;
	border-radius: 50%;
	color: white;
	font-size: 22px;
	background-image: 
		linear-gradient(90deg, #646c93 0%, #5f2e69 100%);
	margin-right: 22px;
	border: none;
	box-shadow: 0px 3px 12px 2px rgba(149,162,208, 100%);
}
.btn-app-store i{
	display: inline-block;
	width: 22px;
}
.btn-playmarket{
	margin-right: 0;
}
#btn-create-acc:hover, .btn-round:hover{
	text-decoration: none;
	/*box-shadow: 0px 0px 10px 4px darkslateblue;*/
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 15px 5px rgba(82, 28, 87, 0.726);
	box-shadow: 0px 5px 15px 5px rgba(82, 28, 87, 0.726);
	transition: all 0.4s ease 0s;
}

/*-----------------------------------MAIN-FEATURES---------------------------------------*/
.features{
	display: grid;
	margin: 112px auto;
	grid-gap: 78px;
	grid-template-columns: 244px 366px 350px 370px 200px;
	color: #555555;
	font-size: 14px;
	letter-spacing: 0.02ch;
}
.features p{
	line-height: 22px;
}
.features img{
	display: block;
	float: left;
}
.feat-img1{
	margin-top: 3px;
	margin-left: -2px;
	margin-right: 18px;
}
.feat-img2{
	margin-top: 6px;
	margin-left: -2px;
	margin-right: 15px;
}
.feature2 p, .feature3 p{
	padding-left: 3px;
}
.feat-img3{
	margin-top: 8px;
	margin-left: 2px;
	margin-right: 16px;
}
.feat-title{
	position: relative;
}
.feature1{
	position: relative;
	grid-area: feat1;
	grid-column: 2;
	grid-row: 1;
	width: 360px;
}
.feature1::after, .feature2::after, .feature3::after, .feat-main::before, .donate::before, .donate::after,
footer::after, footer::before, .contacts::after, .company::after {
	display: inline-block;
  content: "";
  border-left: 1px solid #b9b9b9;  
	margin: 0;
	position: absolute;
}
.feature3::after, .feat-main::before, .donate::before, .donate::after, footer::before{
	border-top: 1px solid #b9b9b9;
	border-left: none;
}

.feature1::after{
  width: 0;
  left: 392px;
  top: -125px;
  height: 207px;
}
.feature2{
	position: relative;
	grid-area: feat2;
	grid-column: 3;
	grid-row: 1;
	width: 350px;
	margin-left: -10px;
}
.feature2::after{
  width: 0;
	left: 390px;
	top: 3px;
  height: 433px;
}
.feature3{
	position: relative;
	grid-area: feat3;
	grid-column: 4;
	grid-row: 1 / span 2;
} 
.feature3::after{
 	height: 0;
	left: 415px;
	top: 5px;
  width: 190px;
}
.feat-main{
	position: relative;
	grid-area: feat-main;
	grid-column: 2 / span 2;
	grid-row: 2;
	text-align: right;
	padding-right: 8px;
	margin-top: 23px;
}
.feat-more-btn{
	border: 1px solid #b9b9b9;  
	border-radius: 35px; 
	padding: 18px 10px 0 30px;
	height: 42px;
	width: 295px;
	position: absolute;
	left: -221px;
	top: 437px;
	font-size: 16px; 
	display:inline-block;
	letter-spacing: 0.035ch;
}
.feat-more-btn > .learn-more{
	color: #676766;
  text-decoration: none;
}
.feat-more-btn > .learn-more:hover{
	color: #5b4295;
	-webkit-text-stroke: 1px #5b4295;
}

.feat-main::before{
	height: 0;
	left: -322px;
	top: 182px;
  width: 973px;
}

.features h3{
	font-size: 23pt;
	font-weight: 400;
	margin: 0 10px;
}
.features h4{
	margin: 0 0 30px 0;
	font-size: 13pt;
	font-weight: 400;
	letter-spacing: 0.05ch;
}

.feat-main-title{
	font-size: 45pt;
	font-weight: 400;
	color: rgba(83, 83, 83, 255);
	letter-spacing: 0.015ch;
}
.feat-main > .feat-main-info{
	font-size: 18pt;
	font-weight: 600;
	color: rgba(149, 147, 147, 255);
	letter-spacing: 0.0045ch;
	margin-top: 12px;
	margin-right: 3px;
	line-height: 23px;
}
.feat-main > .feat-main-info > span{
  color: #f65151;
}
/*--------------------------------------------reviews---------------------------------------------*/
.testimonials{
	background: url('../assets/images/grey-piece-bkg.png');	
	background-repeat: no-repeat;
	background-position-y: 237px;
	height: 1100px;
	width: 100%;
	padding-top: 24px;
}
.news-logo:hover{
  box-shadow: 0px 0px 10px 3px darkslateblue;
}
.reviews-logo{
	padding-left: 15px;
}
.reviews-logo > :nth-child(3){
	margin-left: 31px;
}
.reviews-logo > :nth-child(4){
	margin-left: 42px;
}
.reviews-logo > :nth-child(5){
	margin-left: 21px;
}
.reviews-logo > :nth-child(6){
	margin-left: 36px;
}
.reviews-logo a{
	margin: 20px;
}
.review-text{
	width: 950px;
	margin-top: 59px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 108px; 
}
.slider-review{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	padding-right: 23px; 
	width: 590px;
}
.slider-review > ul{
	list-style-type: none;
	margin: 13px 18px 0px 27px;
	padding: 0;
}
.slider-review > ul > li{
	margin-bottom: 5px; 
}
.slider-review i:hover{
	color: #5b4295;
}
.slider-review > ul i{
	font-size: 8pt;
	color: #b7b7b7;
}
.slider-review .i-selected{
	font-size: 13px;
	color: #101010;
}

.slider-review > p{
	font-size: 18pt;
	letter-spacing: 0.015ch;
	line-height: 1.3em;
	font-family: 'Malaga OT Reg', serif;
	margin: 10px 0px 0px 10px;
}
.slider-review span{
	font-size: 12pt;
	margin-left: -2px; 
}
/*-----------------------------------------download---------------------------------*/
.notebook-bkg{
	background: url('../assets/images/notebook.png');	
	background-repeat: no-repeat;
	background-position-x: 78%;
	background-position-y: 97px;
	z-index: 2;
}
.download{
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	align-items: flex-end;
	width: 1108px;
	padding: 0;
}
.download > div{
	width: 440px;
	text-align: right;
	height: 400px;
}
.download-title{
	color: #535353;
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 0.01ch;
	margin: 0;
}
.download-text{
	color: rgba(149, 147, 147, 255);
	margin-top: 17px;
	margin-bottom: 31px;
	padding-right: 6px; 
	letter-spacing: 0.015ch;
	line-height: 1.37em;
}
.appstore-btn{
	margin-right: 9px;
}
.dnl-img:hover{
	opacity: 1;
	-webkit-animation: flash 1s;
	animation: flash 1s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.donate{
	position: relative;
	margin-top: 42px;
	height: 210px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.donate::before{
	height: 0;
	left: 400px;
	top: -72px;
	width: 895px;
	z-index: 1;
}
.donate::after{
  height: 0;
	left: 1347px;
	top: -72px;
	width: 452px;
	z-index: 1;
}
.donate h2{
	color: #535353;
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 0.01ch;
	margin: 0;
}
.donate h3{
	font-size: 22pt;
	font-weight: 500;
	color: rgba(149, 147, 147, 255);
	letter-spacing: 0.0045ch;
	margin-top: 2px;
	margin-bottom: 40px;
}
#btn-upgrade{
	padding: 17px 26px 20px 25px;
	border-radius: 31px;
	color: white;
	font-weight: 700; 
	font-size: 18px;
	letter-spacing: 0.025ch;
	background-image: 
		linear-gradient(90deg, #646c93 0%, #5f2e69 100%);
	margin-right: 47px;
	border: none;
	box-shadow: 0px 5px 15px 2px #646c93;
}
#btn-upgrade i, #btn-donate i {
	font-size: 16px;
}
#btn-donate{
	padding: 17px 45px 20px 44px;
	border-radius: 31px;
	color: white;
	font-weight: 700; 
	font-size: 18px;
	letter-spacing: 0.025ch;
	background-image: 
		linear-gradient(90deg, #35bbe0 0%, #5e7bea 100%);
	border: none;
	box-shadow: 0px 5px 15px 2px #35bbe0;
	margin-left: 4px;
}
#btn-upgrade:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px 7px rgba(82, 28, 87, 0.726);
	-moz-box-shadow: 0px 5px 40px 7px rgba(82, 28, 87, 0.726);
	box-shadow: 0px 5px 40px 7px rgba(82, 28, 87, 0.726);
	transition: all 0.4s ease 0s;
}
#btn-donate:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px 7px rgba(19, 226, 226, 0.726);
	-moz-box-shadow: 0px 5px 40px 7px rgba(19, 226, 226, 0.726);
	box-shadow: 0px 5px 40px 7px rgba(19, 226, 226, 0.726);
	transition: all 0.4s ease 0s;
}

/*----------------------------------footer------------------------------------*/
footer{
	display: grid;
	position: relative;
	width: 1400px;
	margin: 0px;
	margin-top: -32px;
	grid-gap: 1px;
	grid-template-columns: 197px 478px 242px 242fr 241fr;
	color: #555555;
	font-size: 14px;
	letter-spacing: 0.02ch;
}
footer::after{
	left: 1400px;
	top: 7px;
	height: 440px;
}
footer::before{
	left: 0px;
	top: 7px;
	width: 1400px;
}

.sponsors{
	grid-column: 2 / span 4;
	grid-row: 1;
	justify-self: end;
	margin-right: 10px;
	height: 285px;
}
.sponsors p{
	text-align: end;
	margin-right: 12px;
	margin-top: 28px;
	margin-bottom: 0;
}
.sponsors .sponsors-logo{
	margin: 0;
	margin-top: 23px;
}
.sponsors-group a{
	padding-left: 28px;
	padding-right: 15px;
}
.sponsors .sponsors-group > :nth-child(5){
	padding-right: 18px; 
	margin-left: 5px;
}
.sponsors .sponsors-group > :nth-child(4){
	margin-right: 14px;
	padding: 0;
}
.sponsors .sponsors-group > :nth-child(3){
	margin-left: 0px;
	margin-right: 6px;
}
.sponsors .sponsors-group > :nth-child(2){
	padding: 0;
	margin-left: 24px;
	margin-right: 14px;
}
.sponsors .sponsors-group > :nth-child(1){
	padding: 0;
	margin-right: 34px;
}
.sponsors .sponsors-group img:hover{
	box-shadow:inset 0px 0px 10px 7px darkslateblue;
}

footer h4{
	text-align: right;
	font-size: 18px;
	font-weight: 700;
	margin-top: 10px;
	margin-right: -2px;
	margin-bottom: 25px;
}
footer ul{
	list-style-type: square;
	font-size: 10px;
	line-height: 1.35rem;
	padding-right: 11px;
}
footer ul a{
	font-size: 14px;
	text-decoration: none;
	color: #5c5c5c;
}
footer ul a:hover{
	color:  #5b4295;
	-webkit-text-stroke: 1px #5b4295;
}
.contacts{
	position: relative;
	grid-column: 2;
	grid-row: 2;
	height: 235px;
	padding-top: 5px;
	padding-left: 22px; 
}
.contacts::after{
	left: 2px;
	top: 12px;
	height: 131px;
}
.contacts > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.contacts > ul > li{
  line-height: 1.45rem;
}
.contacts > ul > li a{
  font-weight: 700;
}
.company{
	position: relative;
	grid-column: 3;
	grid-row: 2;
  justify-self: end;
	width: 240px;
}
.company::after{
  left: 267px;
	top: 9px;
	height: 315px;
}
.legal{
	grid-column: 4;
	grid-row: 2;
	justify-self: end;
	width: 250px;
}
.NeutronMail{
	grid-column: 5;
	grid-row: 2;
	justify-self: end;
	width: 200px;
	margin-right: 30px;
}
.copyright{
	grid-column: 2 / span 2;
	grid-row: 3;
	font-size: 12px;
}
.copyright ul{
	margin: 0;
	margin-top: 1px;
	padding-left: 2px;
}
.copyright ul > li{
	display: inline-block;
	list-style-type: none;
}
.copyright ul > li span{
	margin-right: 11px;
	margin-left: 11px;
}
.copyright ul > li a{
	font-size: 12px;
	letter-spacing: 0.12pt;
}
.copyright p{
	margin-left: 1px;
	margin-top: 14px;
	margin-bottom: 30px;
}
