@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,500,700');

:root {
  --social-width: 54px; 
}

body{
	font-family: 'Titillium Web', Sans-serif;
	width: 1800px;
}
header{
	height: 800px;
	width: 100%;
	background: url('../assets/images/header-background.jpg');
}
/*-----------------------------------NAV---------------------------------------*/
nav{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: 78px 200px;
}
nav ul{
	padding: 0;
	display: inline-block;
} 
nav li{
	display: inline-block;
	list-style-type: none;
}
.logo{
	color: rgba(133, 134, 136, 255);
}
h2{
	margin: 0;
	font-size: 30px;
}
.blue-mail{
	color: #5b4295;
}
.lang-list{
	font-size: 14px;
	margin-top: 20px;
	color: rgba(133, 134, 136, 255);
}
.lang-list > li{
	margin-right: 9px;
	margin-left: 8px;
}
.lang-list > li:first-child{
	margin-left: 0;
	font-weight: bold;
	letter-spacing: 0.05ch;
}
.nav-links{
	margin-top: 9px;
	margin-right: 0px;
}
.nav-links > li{
	font-size: 16px;
	margin: 0 10px;
	letter-spacing: 0.055ch;
}
.nav-links a{
	text-decoration: none;
	color: #5b4295;
}
.nav-links a:hover{
	-webkit-text-stroke: 1px #5b4295;
}

.nav-links > .link-login{
	margin-left: 60px;
	margin-right: 8px;
	font-weight: bold;
}
.nav-links > .link-login > .fa{
	color: #5b4295;
}

.link-login > .log-in-link{
	color: #454545;
	margin: 0;
	margin-left: 2px;
	text-decoration: none;
}
.nav-links > .link-signup{
	margin-right: 0px;
}
#sign-up-link{
	padding: 6px 20px 8px 20px;
	border-radius: 22px;
	color: white;
	font-weight: bold; 
	text-decoration: none;
	background-image: 
	  /*linear-gradient(#582c7e),*/
		linear-gradient(150deg, #582c7e 0%, #5c499d 45%, #637ad1 90%, #637ad1 100%);
	box-shadow: 1px 4px 12px 3px rgba(149,162,208, 100%);
	margin-right: 0px;
}
.link-signup > #sign-up-link:hover{
	text-decoration: none;
	color: yellow;
	-webkit-text-stroke: 0px white;
	box-shadow: 3px 3px 12px 3px #5c499d;
}
.log-in-link:hover{
	color: #5b4295;
}
/*---------------------------------------header-content-----------------------------------*/
.header-content{
	display: flex;
	flex-direction: column;
	margin-top: 68px;
}
.app-title, .app-subtitle, .create-acc{
	display: block;
	text-align: center;
}
.title-container{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}
.titles{
	width: calc( 100% - var(--social-width) );
}
.titles h1{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 45pt; 
	color: #7a7a7a;
	margin-left: 55px;
	letter-spacing: 0.005ch;
}
.titles h2{
	font-size: 27pt; 
	font-weight: 500;
	color: #7a7a7a;
	padding-left: 54px;
	letter-spacing: 0.01ch;
}
.titles .somewhere{
	color: #fc6b6d;
}
.social-icons{
	display: flex;
	flex-direction: column;
	width: var(--social-width);
	padding-top: 6px;
}
.social-icons i{
	font-size: 22px;
	font-weight: 300;
	margin: 8px 0;
	color: #676766;
}
.social-icons i:hover{
	color: #5b4295;
}

.titles{
	display: flex;
	flex-direction: column;
}

.create-acc{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 74px;
}
.create-acc{
	background-image:url('../assets/images/blue-shadow-center.png');
	background-position: center 21px;
	background-size: 30%;
	background-repeat: no-repeat;
}
#btn-create-acc{
	padding: 18px 62px 18px 62px;
	border-radius: 31px;
	color: white;
	font-weight: 700; 
	font-size: 18px;
	letter-spacing: 0.025ch;
	background-image: 
		linear-gradient(90deg, #646c93 0%, #5f2e69 100%);
  margin-right: 26px;
	border: none;
	box-shadow: 1px 4px 12px 3px rgba(149,162,208, 100%);
}

.btn-round{
	width: 46;
	height: 46;
	padding: 10px 12px 10px 12px;
	border-radius: 50%;
	color: white;
	font-size: 22px;
	background-image: 
		linear-gradient(90deg, #646c93 0%, #5f2e69 100%);
	margin-right: 22px;
	border: none;
	box-shadow: 0px 3px 12px 2px rgba(149,162,208, 100%);
}
.btn-app-store i{
	display: inline-block;
	width: 22px;
}
.btn-playmarket{
	margin-right: 0;
}
#btn-create-acc:hover, .btn-round:hover{
	text-decoration: none;
	box-shadow: 0px 0px 10px 4px darkslateblue;
}

/*-----------------------------------MAIN-FEATURES---------------------------------------*/
.features-row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 320px;
}

.feature1, .feature2, .feature3{
	width: 422px;
	font-size: 14px;
} 

.feat-main-title{
  font-size: 60pt;
  color: rgba(83, 83, 83, 255);
  text-align: left;
}
.feat-main-info{
	font-size: 24pt;
	color: rgba(149, 147, 147, 255);
	text-align: left;
}

.reviews{
	background: url('../assets/images/grey-piece-bkg.png');	
}
.review-text{
	font-family: MalagaOTCE-RegItalic, AdobeInvisFont, MyriadPro-Regular;
	font-size: 24pt;
	color: rgba(16, 16, 16, 255);
	text-align: right;
}
.download-title{
	font-size: 36pt;
  color: rgba(83, 83, 83, 255);
  text-align: left;
}
.download-text{
	font-size: 16pt;
  color: rgba(149, 147, 147, 255);
  text-align: left;
}
